<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<h1>Blog - {{name}} </h1>
{% load gravatar %}
{% if request.user.is_authenticated %}
<p>
    <img src="{% gravatar_url request.user.email 25 %}">
    Username: {{ request.user.email }}
</p>
{% endif %}
<div class="container">
    <div class="col-md-3">
        <aside class="row">
           <h3>Categorias:</h3>
            <ul>
                {% for categoria in categorias %}
                <li>
                   <a href="{% url 'blog.posts_categoria' categoria.pk %}">{{categoria.name}}</a>
                </li>
                {% endfor %}

            </ul>
        </aside>
    </div>
    <div class="col-md-8">
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>